<li id="hh-navbar-item">
  <a href="#tab_plugin_happyhare" title="Happy Hare MMU" id="hh-navbar-link">
    <span class="hh-nav-swatch" id="hh-nav-swatch"></span>
    <span class="hh-nav-text" id="hh-nav-text">MMU</span>
  </a>
</li>
